<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candlestick Charts</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="graph">
        <h1>Candlestick Chart</h1>
        <p>Desired Candlestick chart has been displayed below</p>
        <script type="text/javascript" src={{cdn_js | safe}}></script>
</body>
</html>
{{script1 | safe}}
{{div1 | safe}}
